body{
    background-image: url(https://user-images.githubusercontent.com/39142850/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif);
    background-size:cover;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 70vh;
}

h1{
    left : 50px;
    font-family: "Playwrite DK Uloopet",cursive;
}

.calc-body{
    display : grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    gap : 15px;
}

.num{
    cursor : pointer;
    width : 65px;
    height : 65px;
    /* position : relative; */
    background-color: rgba(255,255,255,0.3);
    font-size : 20px;
    color : #000000;
    border-radius: 25px;
    border : 2px solid #CAE7DF;
    backdrop-filter: blur(5px);
    font-family: "Ga Maamli",sans-serif;
    /* margin : 10px 10px; */
}

.clear{
    cursor : pointer;
    width : 65px;
    height : 65px;
    /* position: relative; */
    border : 2px solid #CAE7DF;
    border-radius : 20px;
    background-color:rgba(255,255,255,0.3);
    color : #000000;
    font-size: 25px;
    font-family: "Ga Maamli",sans-serif;
    backdrop-filter: blur(5px);
    /* margin : 10px 10px; */
}

#result{
    cursor: pointer;
    width : 250px;
    height : 45px;
    clear :right;
    background-color: rgba(255,255,255,0.3);
    color : #000000;
    border : 2px solid #CAE7DF;
    backdrop-filter : blur(5px);
    border-radius : 20px;
    font-size : 30px;
    font-family: "Ga Maamli",sans-serif;
    margin : 35px 10px;
}

.operations{
    display : block;
    position: relative;
    width : 65px;
    height : 65px;
    /* position : relative; */
    background-color: rgba(255,255,255,0.3);
    color : #000000;
    border : 2px solid #CAE7DF;
    backdrop-filter : blur(5px);
    font-size : 25px;
    border-radius: 20px;
    font-family: "Ga Maamli",sans-serif;
    /* margin : 20px 10px; */
}


/* .num:hover{
    height : 60px;
    width : 60px;
    font-size: 25px;
}


.clear:hover{
    height : 60px;
    font-size: 25px;
}

.operations:hover{
    height : 60px;
    width : 60px;
    font-size: 25px ;
} */

@media(max-width : 1200px){
body{
    background-size : contain;
}
} 

